.profile__button-edit {
  position: absolute;
  top: 15px;
  right: 0;
  transition: opacity 0.4s;
  width: 24px;
  height: 24px;
}
.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .profile__button-edit {
    top: 8px;
    right: 10px;
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 500px) {
    .profile__button-edit {
      right: 19px;  
    }
  }
  
